* {
  margin: 0;
  padding: 0;
  font-family: "Secular One", sans-serif;
}
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero-txt-container {
  flex: 2.5;
  cursor: default;
}
.hero-img-container {
  flex: 1;
}
.hero-img {
  width: 100%;
  animation: fly 5s infinite;
}
@keyframes fly {
  0% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-26px);
  }
  100% {
    transform: translateY(0);
  }
}
.hero-txt {
  color: #333;
  font-size: 60vw;
  font-family: "Open Sans", sans-serif;
}
.container {
  background-color: #111;
}
