* {
  margin: 0;
  padding: 0;
  font-family: "Secular One", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero-txt-container {
  flex: 2.5;
  cursor: default;
}
.hero-img-container {
  flex: 1;
}
.hero-img {
  width: 100%;
  animation: fly 5s infinite;
}
@keyframes fly {
  0% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-26px);
  }
  100% {
    transform: translateY(0);
  }
}
.hero-txt {
  color: #333;
  font-size: 60vw;
  font-family: "Open Sans", sans-serif;
}
.container {
  background-color: #111;
}
.name-container {
  overflow: hidden;
  height: 100vh;
  background-color: #4b0908;
}
.name {
  color: #fbca03;
  cursor: default;
  font-family: "Audiowide", cursive;
  font-size: 20vh;
  text-align: center;
  line-height: 100vh;
  transition: all ease;
}
.title-container {
  height: 100vh;
  overflow: hidden;
  /* background-color: black; */
}
.dark {
  background: url("./img/bg1.png");
  background-size: cover;
}
.light {
  background: rebeccapurple url("./img/bg2.png");
}
.title {
  font-size: 7vw;
  color: #fbca03;
  line-height: 100vh;
  cursor: default;
}
.slides {
  height: 100vh;
  width: 100%;
}
.slide-img {
  position: relative;
  right: 0px;
  bottom: 0px;
}
.slides2 {
  background-color: lightblue;
}
