* {
	margin: 0;
	padding: 0;
	font-family: "Inter";
	font-weight: 600;
	box-sizing: border-box;
}
.hero {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
		url(images/hero.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 98vh;
	color: white;
}
.hero-welcome {
	height: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* flex-wrap: wrap; */
	text-align: center;
}

.hero-welcome h1 {
	margin: 1em;
	font-size: 3rem;
}
.serv-head-wrapper {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	padding: 0.4rem 0;
	margin-bottom: 0.4rem;
}
.cards-container {
	width: 100%;
	padding: 0 5%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.card {
	overflow: hidden;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* background-color: red; */
	width: 350px;
	height: 350px;
	margin: 0.8rem 0.4rem;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease-in-out;
	border-radius: 8px;

	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.2);
}
.card:hover {
	background-color: #ff4255;
	transform: translateY(-10px);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-heading {
	text-align: center;
	width: 70%;
	padding: 0.3em;
	margin-bottom: 1em;
}
.card-para {
	width: 60%;
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
}

.card-para p {
	font-weight: 400;
}

.btn-wrapper {
	width: 100%;
	margin: 0.2rem 0;
	padding: 0.3rem 0;
	display: grid;
	place-items: center;
}

.btn {
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	text-transform: uppercase;
	background-color: #ff4255;
	color: white;
	width: 200px;
	padding: 1em;
	font-size: 1rem;
	transition: all 0.2s ease-in-out;
}
.btn:hover {
	background-color: white;
	color: #ff4255;
	transform: translateY(-5px);
	cursor: pointer;
}

.reviews {
	color: white;
	text-align: center;
	width: 100%;
	height: 90vh;
	background-color: #ff4255;
	margin: 1em 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}
.r-img {
	background: url(images/test.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.r-text {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 1em 2em;
	align-items: center;
}
.h-wrap {
	margin-bottom: 0.5em;
}
.para-wrap p {
	font-weight: 300;
}

@media screen and (max-width: 665px) {
	.hero {
		height: 60vh;
	}
	.reviews {
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
	}
}

/* ------------------------------*/

.lineLeft {
	animation: 3s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
	0% {
		opacity: 0.2;
		transform: translateX(-80%);
	}
	20% {
		opacity: 0.6;
	}
	50% {
		opacity: 1;
		transform: translateX(0%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

.top-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	/* background-color: #00BAF0;
    background: linear-gradient(to left, #f46b45, #eea849); */
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	height: 60px;
	padding: 1em;
	border-bottom: 0.5px solid rgba(255, 255, 255, 0.7);
}

.logo {
	font-size: larger;
	font-weight: bolder;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu > li {
	text-transform: uppercase;
	font-size: 1rem;
	margin: 0 2rem;
	overflow: hidden;
}

.menu-items:hover {
	cursor: pointer;
	color: #ff4255;
}

.menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu-toggle {
	display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	background-color: #fff;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	content: "";
	margin-top: -8px;
}

.menu-button::after {
	content: "";
	margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}

@media (max-width: 771px) {
	.menu-button-container {
		display: flex;
	}
	.menu {
		position: absolute;
		top: 0;
		margin-top: 50px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	#menu-toggle ~ .menu li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	#menu-toggle:checked ~ .menu li {
		border: 1px solid rgba(51, 51, 51, 0.4);
		height: 2.5em;
		padding: 0.5em;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.menu > li {
		display: flex;
		justify-content: flex-start;
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		color: #000f;
		font-weight: 500;
		font-size: small;
		background-color: white;
	}
	.menu > li:not(:last-child) {
		border-bottom: 0.2px solid #444;
	}
}
